*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#main
{
    background-color: #20242d;
    height:100vh;
}

#nav
{
    position:sticky;
    display:inline-flex;
    justify-content: center;
    align-items: middle;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;    
}

p
{
    color: white;
    padding-left: 10px;
    font-size: large;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 20px;   
}

#nav ul
{
    color:white;
    display:flex;
    justify-content:space-evenly;
    padding-left: 850px; 
    margin-top:10px;
    margin-bottom: 10px;
    
}

li
{
    margin-left:40px;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

li a
{
    text-decoration:none;
    color:wheat;
}

li a:hover
{
    color:aqua;
    font-size: 22px;
}

.edu h2
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    color:rgb(221, 229, 226);
    letter-spacing: normal;
}

.edu h2 span
{
    color:rgb(121, 234, 9);
}

.process-wrapper
{
    margin:auto;
    max-width:1080px;
}

#progress-bar-container
{
    position:relative;
    width:90%;
    margin:auto;
    height:100px;
    margin-top:59px;
}

#progress-bar-container ul
{
    padding:0;
    margin:0;
    padding-top: 15px;
    z-index: 9999;
    position:absolute;
    width:100%;
    margin-top: -40px;
}

#progress-bar-container li:before
{
    content:"";
    display:block;
    margin:auto;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px deepskyblue;
    transition: all ease 0.3s;
}


#progress-bar-container li:hover:before
{
    background:deepskyblue;
}

#progress-bar-container li
{
    list-style:none;
    float:left;
    width:27%;
    text-align:center;
    color:deepskyblue;
    font-size:11px;
    cursor:pointer;
    font-weight: 800;
    transition: all ease 0.2s;
    vertical-align:bottom;
    height:59px;
    position:relative;
}

#progress-bar-container li .inner
{
    position:absolute;
    width:100%;
    bottom:0;
    font-size:14px;
}



#progress-bar-container li:after
{
    content:"";
    display:block;
    width:5px;
    height:5px;
    background:deepskyblue;
    margin:auto;
    border:solid 7px white;
    border-radius: 50%;
    margin-top:40px;
    box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
    
}

#progress-bar-container li:after
{
    background: deepskyblue;
}

#progress-bar-container li.active:after
{
    background: deepskyblue;
}

#progress-bar-container #line
{
    width:80%;
    margin:auto;
    background: #eee;
    height: 5px;
    position:absolute;
    left:10%;
    top:57px;
    z-index:1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-process
{
    content:"";
    width:100%;
    height: 100%;
    background: deepskyblue;
    background: linear-gradient(to right,deepskyblue 0%,#2ea3b7 100%);
    position: absolute;
    z-index:2;
    border-radius:50px;
    transition: all ease 0.9s;
}

#progress-content-section
{
    width:90%;
    margin:auto;
    background: #f3f3f3;
    border-radius: 4px;
    display:flex;
    background: rgb(0, 170, 173);
}

#progress-content-section .section-content
{
    padding:30px 40px;
    text-align:center;
    border:2px black dashed;
    height:420px;

}